<div class="card my-5">
  <div class="card-body">
    <div style="overflow-y: auto;">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Currency</th>
          <th scope="col">Amount</th>
          <th scope="col">Update Status</th>
          <th scope="col">Delete Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{ payment.id }}</td>
          <td><a href="mailto:{{ payment.email }}">{{ payment.email }}</a></td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.currency }}</td>
          <td>{{ payment.amount }}</td>
          <td>
            <button *ngIf="isPaymentPending(payment.status) && payment.id"
                    [(ngModel)]="selectedUpdatePayment"
                    (click)="confirmUpdate(payment)"
                    class="btn btn-primary">
              Update Status
            </button>
          </td>
          <td>
            <button *ngIf="isPaymentPending(payment.status) && payment.id"
                    [(ngModel)]="selectedDeletePayment"
                    (click)="confirmDelete(payment.id)"
                    class="btn btn-danger">
              Delete Payment
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
